<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> About Page </title>
    <link href="/public/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/css/style.css" rel="stylesheet">
    <style type="text/css">
    	.first, .second{
    		min-height: 50vh;
    		border: 1px solid blue;
    	}

    </style>
  </head>

  <body>
  	<nav class="navbar navbar-default" role="navigation">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Flickagram</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <form class="navbar-form navbar-right form-inline" role="form">
  			  <div class="form-group">
  			    <input type="email" class="form-control" placeholder="email" required="">
  			  </div>
          <div class="form-group">
            <input type="password" name="password" class="form-control" placeholder="password" required="">
          </div>
  			  <button type="submit" class="btn btn-primary">Login</button>
			</form>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <div class="container">
    	<div class="row">
    		<div class="col-md-6">
          <section class="col-md-12 first">
            <h4>Popular Images</h4>
            
          </section>
    			
    		</div>
        <aside class="col-md-6">
          <section class="col-md-12 second">
            <h4>Sign Up</h4>
            
          </section>
          
        </aside>
    	</div>
    </div>

<footer>
  <div class="container">
    <div class="col-md-12 text-center">
      <p> &copy; Flickagram 2019. All Rights Reserved.</p>
    </div>
  </div>
</footer>

  </body>
</html>
